@font-face {
   font-family: 'Spantaran (demo)';
   font-display: swap;
   src: url('file:///C:/Users/Johns/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-26_112653/fonts/Spantaran%20(demo)/font.ttf');
}
