@font-face {
   font-family: 'Corporate A Light';
   font-display: swap;
   src: url('file:///C:/Users/Johns/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-26_112653/fonts/Corporate%20A%20Light/font.ttf');
}
